
  table {
    border-collapse: collapse;
    border: 2px solid rgb(133, 20, 20);
    letter-spacing: 1px;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  caption {
    padding: 10px;
  }

  .symbol {
    font-weight: 400;
  }